<h1><%= "#{@employee.first_name} #{@employee.last_name}"%></h1>
<%= image_tag @employee.img_url, :size => "260x180" %></br>
Alias: <%= @employee.alias %></br>
Title: <%= @employee.title %></br>
Office: <%= @employee.office %></br>
</br>


<%= link_to "Back to Employee Index", employees_path %>
