<h1><%= @employee.full_name %>'s page</h1>

<%= image_tag @employee.img_url %>
<br>
Alias: <%= @employee.alias %> <br>
Title: <%= @employee.title %> <br>
Office: <%= @employee.office %> <br>
Dog: <%= link_to @employee.dog.name ,@employee.dog %> <br>
<%= button_to "All Employees", { :action => "index" }, :method => :get %>
