<picture>
    <img src="<%=@employee.img_url%>">
</picture>

  <h1><%= @employee.first_name %><h1>
  <h2>Has the following attributes:</h2>

  <h3>Alias: <%= @employee.alias %> <br>
    Title: <%= @employee.title %> <br>
    Office: <%= @employee.office %> <br>
    Dog_Id: <%= @employee.dog_id %> <br>
  </h3>
